@font-face {
  font-family: PressStart2p;
  src: url(./styles/fonts/PressStart2P.ttf);
}

::-webkit-scrollbar {
  display: none;
}

body {
  text-align: center;
  background: url(../src/styles/images/3952024.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

div,
button,
option,
select,
input {
  font-family: PressStart2p;
  font-size: x-small;
}

select,
input,
button {
  font-size: 11px;
  padding: 1.3vh;
  border-radius: 9px;
}

select,
input,
button:hover {
  cursor: pointer;
}

form {
  margin-bottom: 5px;
}
