.contenedor {
  height: 100vh;
}

.pokeContenedor {
  height: 60%;
  width: 300px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  border: 1mm outset rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 13vh;
}

.ul {
  list-style: none;
  margin-right: 40px;
}

.ul li {
  margin: 5px;
}

.img {
  height: 20%;
  margin: 3%;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.span {
  margin-inline-end: 5px;
}

.infoContainer {
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.notFound {
  width: fit-content;
  background-color: white;
  border: 1mm outset rgb(224, 224, 224);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-top: 150px;
}
