.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 10px;
   
}   

.li{
    margin-inline: 1px;
    margin-block: 5px;
}