.contenedor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic {
  height: 35vh;
}

.button {
  height: 5vh;
  border-radius: 10px;
  margin: 3px;
}

.button:hover {
  cursor: pointer;
}
